
main::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: url(bg.png) right bottom no-repeat !important;
	opacity: 0.5;
	pointer-events: none;
	z-index: -1;
}

body {
	background-color: white !important;
}

.form-control[type="file"] {
    padding-bottom: 2.5em;
}