
main::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: url(bg.jpg) right bottom no-repeat !important;
	opacity: 0.5;
	pointer-events: none;
}

main {
	background-color: white !important;
}